/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

a {
  text-decoration: none;
  text-decoration-color: black;
}

h1 {
  font-size: 4em;
  font-weight: bold;
  color: white;
}

h2 {
   text-align: center;
  font-size: 180%;
  line-height: 120%
  padding: 5% 0;
  color: #033048;
}

h3{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  /*color: #f9e42e;*/
  color: black;
  padding: 10px;
}

p {
  font-weight: lighter;
  font-size: 20px;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

body {
  color: #000;
  font-size: 12px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  max-width: 1280px;
  margin: auto;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.wrapper h1 {
  font-size: 4em;
  line-height: 1;
}

nav .line {
  width: 3em;
  height: .3em;
  background: yellow;
  border-radius: 1em;
  margin-top: .25em;
}

nav .line:first-of-type {
  margin-top: .3em;
}

nav li {
  list-style-type: none;
}

#page-header {
  background: #033048;
  color: white;
  overflow: hidden;
  border-bottom: 1px solid yellow;
  padding: 0 3%;
}

#page-header a {
  color: inherit;
  text-decoration: none;
  margin-top: -10px;
}

#page-header h1 {
  float: left;
  color: yellow;
/*  font-family: 'Merriweather', serif;*/
  font-size: 4em;
  margin: 10px;
}

#page-header nav {
  float: right;
}
#page-header nav li {
  float: left;
  font-size: 20px;
}

.line {
  padding-bottom: 10px;
}

#page-header nav li:first-child {
  float: right;
  display: none;
  cursor: pointer;
}

#page-header nav a {
  display: block;
  padding: 20px 10px;
}

#page-header nav li a:hover {
  color: yellow;
}

.slides{
/*  max-width: 100%;
  max-height: 625px;
  height: 625px;*/
  width: 100%;
  height: 625px;
  max-width: 1363px;
  background: no-repeat center top cover;
  background-size: cover;
}

.slides img{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index:-2;
}

.slides img.top{
  height: auto;
  z-index:-1;
}

.article-one h2 {
  text-align: right;
  color: black;
/*  padding-top: 4%;*/
}

.section-two {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#section-two {
  padding: 10px;
  background: no-repeat center top;
  background-color: #f0efef;
  background-size: cover;
  height: 475px;
}

#section-two .text-container h3 {
  width: 50%;
  float: left;
}

.article-two p {
  font-size: 2em;
  text-align: center;
}

.article-two li {
  font-size: 2em;
  margin-left: 5vw;
  list-style-type: none;
}

#section-two .article-two, .article-two2 {
float: left;
width: 50%;
}

.article-two {
  padding: 15px;
  padding-top: 5px;

}

.article-two2 {
  padding: 10px;
}

/*#section-three {
  padding: 35px;
  background: no-repeat center top;
  background-color: #033048;
  background-size: cover;
  height: 980px;
  text-align: center;
}*/

#section-three {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  background-color: #033048;
  text-align: center;
}

#section-three h3 {
  font-size: 30px;
  font-weight: bold;
  color: #f9e42e;
  width: 100vw;
}

.3 {
  width: 33%;
  height: auto;
  float: left;
  background: #000;
  position: relative;
  color:#fff;
}

.3 img {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

#section-three img {
  margin: 30px;
  width: 300px;
  height: 400px;
  padding-bottom: 20px;
}

#section-three img:hover {
  margin: 30px;
  width: 300px;
  height: 400px;
}

/* Menu buildup css*/
.gallery-menu {
  padding: 0;
}

.menu-container {
  width: 100%;
  height: auto;
  background-color: #f0efef;
}

.menu-column h3 {
  text-align: center;
}

.menu-column p {
  text-align: center;
}

.menu-column {
  width: 33%;
  float: left;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.food-menu {
  margin-top: 20px;
  display: none;
  padding-bottom: 20px;
}

.drink-menu {
  margin-top: 20px;
  display: none;
  padding-bottom: 20px;
}

.other-menu {
  margin-top: 20px;
  display: none;
  padding-bottom: 20px;
}

.menu-food {
  text-align: left;
  padding: 0 20px 20px 40px;
}

.menu-food p {
  line-height: 2em;
}

.menu-food h2 {
  margin-bottom: 1em;
}

#food-title, #drink-title {
  font-weight: 200;
  font-size: 3em;
  border: 3px solid;
  padding: 10px;
  margin: 10px;
  color: black;
}

#other-title {
  font-weight: 200;
  font-size: 3em;
  border: 3px solid;
  padding: 10px;
  margin: 10px;
  color: black;
}

#drink-title:hover {
  background-color: black;
  color: white;
  opacity: 0.7;
}

#food-title:hover {
  background-color: black;
  color: white;
  opacity: 0.7;
}

#other-title:hover {
  background-color: black;
  color: white;
  opacity: 0.7;
}

.price {
  font-style: italic;
  color: black;
  font-size: 1em;
}

.picture-break {
  min-height: 300px;
  width: 100%;
  margin-bottom: -5px;
}

/*New layer based on codepen example*/
#ocean {
  position: relative;
  width: 100% !important;
  min-height: 300px;
  overflow: hidden;
}

article {
    position: absolute;
    top: 240px;
    left: 40px;
    width: 300px;
    z-index: 4;
    font-size: 18px;
    line-height: 22px;
}

article h1 {
  color: #f9e42e;
  font-size: 2em;
}

.parallax-item {
  position: absolute;
  z-index: 5;
  top: 40px;
  left: 400px;
}

#ocean>div:nth-of-type(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background: url(../images/oceancopy.jpg) 50% 0 no-repeat fixed;
}

/*Section Four Start*/
/*#section-four {
  height: 650px;
  background-color: #f0efef;
}

#section-four h3{
  padding: 30px 30px;
  margin: 0;
}

.article-three{
  padding: 0px;
}

.get-it-now {
  display: block;
  width: 280px;
  margin: 25px auto;
  padding:12px 0;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  background-color: #f9e42e;
  border: none;
  color: #033048;
}*/
/*Section Four End*/
/*
Testing google map*/
.map {
  height: 650px;
  background-color: #f0efef;
  text-align: center;
}

.map h3 {
  padding: 2%;
  margin: 0;
}

#map {
  height: 525px;
  width: 60%;
  position: absolute;
  left: 0px;
  border: 1px solid black;
}

.map-nav {
  width: 100%;
  float: left;
  position: absolute;
}

.right {
  background-color: white;
  height: 525px;
  position: absolute;
  right: 1px;
  width: 40%;
  border: 1px solid black;
/*  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;*/
}

.right a {
  text-decoration: none;
  color: black;
  font-style: italic;
  width: 100%;
  font-size: 20px;
  border: 1px solid black;
  padding: 5px 15px;
  background-color: #f9e42e;
}

.right a:hover {
  color: #f9e42e;
  border: 1px solid black;
  padding: 5px 15px;
  background-color: #f9e42e;

}

.right h3 {
  font-size: 30px;
  margin-top: 10vh;
}

.right h4 {
  font-size: 16px;
}

.right h5 {
  font-size: 16px;
}
/*Testing End*/

.article-two ul {
  padding-top: 15px;
}

.article-two li {
  font-size: 18px;
  padding-top: 5px;
}

#section-three p {
  width: 450px;
  margin: 0 auto;
  padding-top: 130px;
  color: white;
  font-size: 20px;
  font-weight: lighter;
}

span {
  font-weight: bold;
  margin-top: 30px;
}

button:hover{
  background-color: white;
}

button:active {
outline: none;
border: none;
}

#Menu {
  background-color: #033048;
  padding: 15px 30px 15px 30px;
  font-size: 20px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#Menu a {
  color:white;
}


/*Footer Start*/
footer {
  background: #121212;
  width: 100%;
  overflow: hidden;
  opacity: 0.95;
}

footer section {
  width: 31%;
  float: left;
  margin: 1% 1%;
  text-align: center;
  padding-top: 20px;
}

/*footer section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 30vw;
}*/

footer p {
  color: #fff;
}

footer h2 {
  color: #f9e42e;
}

footer p a {
  color: #fff;
  text-decoration: none;
}

ul.social li {
  display: inline;
}

ul.social li img {
  height: 50px;
}

footer.second {
  border-top: 1px solid #4D4E50;
  background-color: #333333;
  max-height: 50px;
  text-align: center;
  opacity: 1;
}


/*-----Media Sizing---*/
@media screen and (max-width: 1080px) and (min-width: 980px) {
  nav {
    font-size: 4em;
  }
}

@media screen and (max-width: 980px) and (min-width: 768px) {
  #page-header {
    font-size: 4em;
  }

  .food-img {
    width: 50%;
  }

  .text-container {
    width: 100%;
  }

  .article-two {
    width: 100%;
  }

  .article-two2 {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  body {
    font-size: 10px;
  }

  nav {
    width: auto;
  }
#page-header nav li {
  float: none;
}

#page-header nav li:first-child {
  display: block;
  position: absolute;
  top: .25em;
  right: .5em;
}

ul{
  height: 0;
  transition: height 1s;
  overflow: hidden;
}

.slideDown {
  height: 20em;
}

  .3 {
    padding: 10px;
  }

  .menu-column {
    margin: 10px;
  }

  .menu-food {
    padding: 10px;
  }

  .food-img {
    padding: 10px;
  }

  .3 {
    padding: 20px;
  }

  .section-two {
    width: 100%;
  }

  .text-container {
    width: 100%;
  }

  .article-two {
    width: 100%;
  }

  .article-two2 {
    width: 100%;
  }



